<!DOCTYPE HTML>
<html lang="vi">

<head>
 {% load staticfiles %}
  <title>LVTN</title>
  <meta charset="utf-8" />
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}" title="style" />
  
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">CHỮ KÝ SỐ<span class="logo_colour">VÀ ỨNG DỤNG</span></a></h1>
          <h2>Khoa Điện-Điện tử, Bộ môn Viễn thông</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Trang chủ</a></li>
          <li><a href="/tao">Tạo khóa</a></li>
          <li><a href="/bang">Danh sách chữ ký</a></li>
          <li><a href="/kianh">Ký ảnh</a></li>
          <li><a href="/list">Diễn đàn</a></li>
          <li><a href="/xacthuc">Xác thực ảnh</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid"  >
        <div class="row">
            <div class="col-sm-2">
            hello teacher
            </div>
            <div class="col-sm-8">
            <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Tin mới nhất</h3>
        <h4>Cập nhật lần cuối</h4>
        <h5>November 16th, 2019</h5>
        <p>Cải tiến các tính năng của web<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>Thông tin quản trị viên</h4>
        <h5>Tên: Nguyễn Huỳnh Hùng</h5>
        <p>Khoa: Điện-Điện tử<br /><a href="http://www.dee.hcmut.edu.vn/" target="_blank">Xem</a></p>
        <p>Bộ môn: Viễn thông<br /><a href="http://dte.dee.hcmut.edu.vn/" target="_blank">Xem</a></p>
        <p>Email: hungnguyenjun20@gmail.com </p>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            {% csrf_token %}
            <input class="search" type="text" name="search_field" value="" />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{%static 'search.png' %}" alt="Search" title="Search" />
          </p>
        </form>
      </div>
<div id="content" class ="show_2">
        <!-- insert the page content here -->
        {% block content %}
                        
        {% endblock content %}
      </div>
            </div>
            <div class="col-sm-2">
            hello techer
            </div>
        </div>
</div>
      
    </div>
    
    <div id="content_footer"></div>
    <div id="footer">
      Copyright 2019 Nguyễn Huỳnh Hùng  <a href="https://www.facebook.com/huynh.hung.370" target="_blank"> Liên hệ:Facebook</a>
    </div>
  </div>
</body>
</html>



